@import url(styles/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --colour-darkgreen: #30382D; 
    --colour-darkcream: #E8DCC6;
    --colour-lightyellow: #FDFAF0; 
}

/* Reset the default styling */
body, h1, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* Styling the menubar */
.menubar {
    background-color: var(--colour-darkgreen);
    display: flex;
    justify-content: space-between;
    padding: 0.625rem 1.25rem;
    font-family: 'Poppins';
    height: 7.625rem;
}

/* Title Far North Soap styling */
.menubar h1 {
    margin: 2.564rem 0 1.75rem 3.75rem;
}

/* Far North Soap title styling */
.menubar h1 a {
    color: #FDFAF0;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 2.188rem;
}

/* Menu styling */
.menu {
    display: flex;
    align-items: center;
    margin-top: 3.813rem;
    margin-bottom: 2.188rem;
}

/* Menu items styling with spacing specified */
.menu li {
    margin-right: 3.813rem;
}

.menu li:last-child {
    margin-right: 4.563rem;
}

.menu li:nth-last-child(2) {
    margin-right: 14.313rem;
}

/* Menu item styling */
.menubar .menu li a {
    color: var(--colour-lightyellow);
    font-size: 1.063rem;
    font-family: 'Poppins';
    font-weight: 400;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

/* Hovering effect for menu items */
.menu li a:hover {
    color: var(--colour-darkcream);
}

/* Styling for the background rectangle section */
.background-rectangle {
    width: 100%;
    height: 51.313rem;
    background-color: var(--colour-darkcream);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-image-container {
    width: 45rem;
    height: 44.188rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image-container img {
    width: 45rem;
    height: 44.188rem;
    border-top-left-radius: 1.875rem;
    border-bottom-left-radius: 1.875rem;
    object-fit: cover;
}

/* Text container styling */
.text-container {
    position: relative;
    width: 100%;
    padding-left: 129px;
    padding-top: 420px;
    padding-bottom: 508px;
}

/* Title container styling */
.title-container {
    width: 449px;
    height: 150px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 50px;
    color: var(--colour-darkgreen);
    text-transform: uppercase;
    margin-bottom: 30px;
}

/* Description container styling */
.description-container {
    width: 494px;
    height: 124px;
    font-family: 'Goudy Bookletter 1911';
    font-size: 23px;
    color: var(--colour-darkgreen);
    margin-bottom: 56px;
}

/* Button styling */
.shop-now-btn {
    width: 283px;
    height: 77px;
    border: 4px solid var(--colour-darkgreen);
    border-radius: 10px;
    background-color: var(--colour-lightyellow);
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.4em;
    color: var(--colour-darkgreen);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 138px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    box-shadow: -9px 16px var(--colour-darkgreen);
}

.shop-now-btn:hover {
    background-color: var(--colour-darkcream);
    color: var(--colour-darkgreen);
}

.shop-now-btn:active {
    box-shadow: -9px 10px var(--colour-darkgreen);
    transform: translateY(4px);
}

/* Styling for Best Sellers rectangle section */
.best-sellers-rectangle {
    width: 100%;
    height: 1133px;
    background-color: var(--colour-lightyellow);
    position: relative;
    padding-top: 116px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.best-sellers-title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 50px;
    color: var(--colour-darkgreen);
    margin-bottom: 43px;
}

.product-container {
    display: flex;
    gap: 74px;
    overflow-x: auto;
    width: 100%;
    padding-bottom: 43px;
    scroll-behavior: smooth;
}

.product-card {
    width: 344px;
    height: 647px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 74px;
    margin-left: 74px;
}

.product-image {
    width: 344px;
    height: 485.6px;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.product-name {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 30px;
    color: var(--colour-darkgreen);
    margin-top: 17.4px;
}

.product-price {
    font-family: 'Goudy Bookletter 1911';
    font-size: 37px;
    color: var(--colour-darkgreen);
}


/* Shop All button styling */
.shop-all-btn {
    width: 283px;
    height: 77px;
    border: 4px solid var(--colour-darkgreen);
    border-radius: 10px;
    background-color: var(--colour-lightyellow);
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.4em;
    color: var(--colour-darkgreen);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    box-shadow: -9px 16px var(--colour-darkgreen);
}

.shop-all-btn:hover {
    background-color: var(--colour-darkcream);
    color: var(--colour-darkgreen);
}

.shop-all-btn:active {
    box-shadow: -9px 10px var(--colour-darkgreen);
    transform: translateY(4px);
}


/* Mailing list styling section */
.mailing-list-section {
    background-color: var(--colour-darkcream);
    height: 785px;
}

.mailing-list-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mailing-list-image-container {
    width: 720px;
    height: 707px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 39px;
    margin-bottom: 39px;
    position: relative;
}

.mailing-list-image-container img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    object-fit: cover;
    position: absolute;
}

.mailing-list-content {
    width: 50%;
}

.mailing-list-title-rectangle {
    position: relative;
    width: 500px;
    height: 150px;
    margin-left: 223px;
    margin-top: 75px;
}

.mailing-list-title-container {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 37px;
    margin-right: 207px;
    color: var(--colour-darkgreen);
    display: flex;
    margin-top: -37px;
}

.mailing-list-input {
    margin-bottom: 37px;
    display: flex;
    flex-direction: column;
    margin-top: 37px;
}

.mailing-list-input label {
    font-family: 'Goudy Bookletter 1911';
    font-size: 23px;
    color: var(--colour-darkgreen);
    margin-left: 159px;
}

.mailing-list-input input {
    width: 448px;
    height: 50px;
    border-radius: 20px;
    border: 4px solid var(--colour-darkgreen);
    background-color: var(--colour-lightyellow);
    padding: 10px;
    font-family: 'Goudy Bookletter 1911';
    font-size: 23px;
    margin-left: 138px;
}

.mailing-list-input input::placeholder {
    color: rgba(48, 56, 45, 0.5);
}

.subscribe-btn {
    width: 283px;
    height: 77px;
    border: 4px solid var(--colour-darkgreen);
    border-radius: 10px;
    background-color: var(--colour-lightyellow);
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.4em;
    color: var(--colour-darkgreen);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    box-shadow: -9px 16px var(--colour-darkgreen);
}

.subscribe-btn:hover {
    background-color: var(--colour-darkcream);
    color: var(--colour-darkgreen);
}

.subscribe-btn:active {
    box-shadow: -9px 10px var(--colour-darkgreen);
    transform: translateY(4px);
}




















/* Responsive adjustments to fit on Surface Pro 7 screen */
@media (max-width: 1368px) {
    .menubar h1 {
        margin: 20px 0 20px 30px;
    }

    .menu {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .menu li {
        margin-right: 30px;
    }

    .menu li:last-child {
        margin-right: 36px;
    }

    .menu li:nth-last-child(2) {
        margin-right: 114px;
    }

    .background-rectangle {
        height: 80vh;
    }

    .hero-image-container {
        width: 50vw;
        height: auto;
    }

    .hero-image-container img {
        width: 100%;
        height: auto;
    }
}
