@import url(styles/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --colour-darkgreen: #30382D; 
    --colour-darkcream: #E8DCC6;
    --colour-lightyellow: #FDFAF0; 
}

/* Reset the default styling */
body, h1, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: var(--colour-lightyellow);
}

/* Menubar for the checkout page */
.checkout-menubar {
    height: 123px;
    width: calc(100% - 256px);
    margin: 0 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.menubar-title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 35px;
    color: var(--colour-darkgreen);
}

.menubar-title a {
    color: inherit;
    text-decoration: none;
}

.menubar-divider {
    height: 2px;
    background-color: #96998E;
    width: 100%;
}

.vertical-divider {
    height: 1395px;
    width: 2px;
    background-color: #96998E;
    margin-left: 814px;
    position: absolute;
    top: 123px;
}

.contact-section {
    position: abosolute;
    margin-left: 128px;
}

.contact-section h2 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 30px;
    color: var(--colour-darkgreen);
    margin-bottom: 14px;
}

.input-container {
    position: relative;
    margin-bottom: 21px;
}

.contact-input,
.delivery-input {
    width: 632px;
    height: 57px;
    border: 1px solid #979B96;
    border-radius: 5px;
    background-color: #FFFFFF;
    font-family: 'Poppins';
    font-size: 17px;
    padding-left: 21px;
    box-sizing: border-box;
}

.subscribe-container {
    display: flex;
    align-items: center;
    margin-top: 23px;
}

.subscribe-checkbox {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #595F54;
    margin-right: 11px;
}

.subscribe-label {
    font-family: 'Poppins';
    font-size: 13px;
    color: #595F54;
}

.delivery-section h2 {
    margin-top: 37px;
    margin-bottom: 14px;
}