@import url(styles/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url(/styles/menu-bar.css);
@import url(/styles/footer.css);

:root {
    --colour-darkgreen: #30382D;
    --colour-darkcream: #E8DCC6;
    --colour-lightyellow: #FDFAF0;
}

body {
    background-color: var(--colour-lightyellow);
}


/* Confirmation content styling */
.confirmation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.confirmation-title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 23px;
    color: var(--colour-darkgreen);
}

.order-number {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 46px;
    color: var(--colour-darkgreen);
}

.order-button {
    width: 501px;
    height: 70px;
    background-color: var(--colour-darkgreen);
    color: var(--colour-lightyellow);
    border: none;
    border-radius: 5px;
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 23px;
}

.continue-shopping a {
    font-family: 'Poppins';
    font-size: 25px;
    color: var(--colour-darkgreen);
    font-weight: 400;
    text-decoration: underline;
}


/* Adjusting screen to iPhone 12 pro */
@media (max-width: 390px) {
    .confirmation-container {
        height: 2300px;
    }

    .confirmation-title {
        font-size: 80px;
        margin-bottom: 50px;
    }

    .order-number {
        font-size: 50px;
        margin-bottom: 100px;
    }

    .order-button {
        width: 900px;
        height: 130px;
        font-size: 50px;
        margin-bottom: 50px;
    }

    .continue-shopping a {
        font-size: 50px;
    }
}


/* Adjusting screen to iPhone 12 pro */
/*
@media (max-width: 390px) {
    .empty-cart-container {
        height: 2300px;
    }
    
    .empty-cart-text {
        font-size: 80px;
    }
    
    .checkout-button {
        margin-top: 150px;
        width: 600px;
        height: 110px;
        font-size: 36px;
        box-shadow: -19px 24px var(--colour-darkgreen);
        font-weight: 700;
        letter-spacing: 0.3em;
    }
}*/












/* Adjusting screen to surface pro 7 */
@media (max-width: 1368px) {
    .menubar {
        width: 1368px;
    }

    .confirmation-container {
        width: 1368px
    }

    .footer-section {
        width: 1410px;
    }
}