@import url(styles/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url(/styles/menu-bar.css);
@import url(/styles/footer.css);

:root {
    --colour-darkgreen: #30382D;
    --colour-darkcream: #E8DCC6;
    --colour-lightyellow: #FDFAF0;
}


/* Styling for the rectangle top section */
.background-rectangle {
    width: 100%;
    height: 51.313rem;
    background-color: var(--colour-darkcream);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-image-container {
    width: 45rem;
    height: 44.188rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image-container img {
    width: 45rem;
    height: 44.188rem;
    border-top-left-radius: 1.875rem;
    border-bottom-left-radius: 1.875rem;
    object-fit: cover;
}

/* Text container styling */
.text-container {
    position: relative;
    width: 100%;
    padding-left: 129px;
    padding-top: 420px;
    padding-bottom: 508px;
}

/* Title container styling */
.title-container {
    width: 449px;
    height: 150px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 50px;
    color: var(--colour-darkgreen);
    text-transform: uppercase;
    margin-bottom: 30px;
}

/* Description container styling */
.description-container {
    width: 494px;
    height: 124px;
    font-family: 'Goudy Bookletter 1911';
    font-size: 23px;
    color: var(--colour-darkgreen);
    margin-bottom: 56px;
}

/* Button styling */
.shop-now-btn {
    width: 283px;
    height: 77px;
    border: 4px solid var(--colour-darkgreen);
    border-radius: 10px;
    background-color: var(--colour-lightyellow);
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.4em;
    color: var(--colour-darkgreen);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 138px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    box-shadow: -9px 16px var(--colour-darkgreen);
}

.shop-now-btn:hover {
    background-color: var(--colour-darkcream);
    color: var(--colour-darkgreen);
}

.shop-now-btn:active {
    box-shadow: -9px 10px var(--colour-darkgreen);
    transform: translateY(4px);
}

/* Styling for Best Sellers rectangle section */
.best-sellers-rectangle {
    width: 100%;
    height: 1133px;
    background-color: var(--colour-lightyellow);
    position: relative;
    padding-top: 116px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.best-sellers-title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 50px;
    color: var(--colour-darkgreen);
    margin-bottom: 43px;
}

.product-container {
    display: flex;
    gap: 74px;
    overflow-x: auto;
    width: 100%;
    padding-bottom: 43px;
    scroll-behavior: smooth;
}

.product-card {
    width: 344px;
    height: 647px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 74px;
    margin-left: 74px;
}

.product-image {
    width: 344px;
    height: 485.6px;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.product-name {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 30px;
    color: var(--colour-darkgreen);
    margin-top: 17.4px;
}

.product-price {
    font-family: 'Goudy Bookletter 1911';
    font-size: 37px;
    color: var(--colour-darkgreen);
}


/* Shop All button styling */
.shop-all-btn {
    width: 283px;
    height: 77px;
    border: 4px solid var(--colour-darkgreen);
    border-radius: 10px;
    background-color: var(--colour-lightyellow);
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.4em;
    color: var(--colour-darkgreen);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    box-shadow: -9px 16px var(--colour-darkgreen);
}

.shop-all-btn:hover {
    background-color: var(--colour-darkcream);
    color: var(--colour-darkgreen);
}

.shop-all-btn:active {
    box-shadow: -9px 10px var(--colour-darkgreen);
    transform: translateY(4px);
}


/* Mailing list styling section */
.mailing-list-section {
    background-color: var(--colour-darkcream);
    height: 785px;
}

.mailing-list-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mailing-list-image-container {
    width: 720px;
    height: 707px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 39px;
    margin-bottom: 39px;
    position: relative;
}

.mailing-list-image-container img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    object-fit: cover;
    position: absolute;
}

.mailing-list-content {
    width: 50%;
}

.mailing-list-title-rectangle {
    position: relative;
    width: 500px;
    height: 150px;
    margin-left: 223px;
    margin-top: 75px;
}

.mailing-list-title-container {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 37px;
    margin-right: 207px;
    color: var(--colour-darkgreen);
    display: flex;
    margin-top: -37px;
}

.mailing-list-input {
    margin-bottom: 37px;
    display: flex;
    flex-direction: column;
    margin-top: 37px;
}

.mailing-list-input label {
    font-family: 'Goudy Bookletter 1911';
    font-size: 23px;
    color: var(--colour-darkgreen);
    margin-left: 159px;
}

.mailing-list-input input {
    width: 448px;
    height: 50px;
    border-radius: 20px;
    border: 4px solid var(--colour-darkgreen);
    background-color: var(--colour-lightyellow);
    padding: 10px;
    font-family: 'Goudy Bookletter 1911';
    font-size: 23px;
    margin-left: 138px;
}

.mailing-list-input input::placeholder {
    color: rgba(48, 56, 45, 0.5);
}

.subscribe-btn {
    width: 283px;
    height: 77px;
    border: 4px solid var(--colour-darkgreen);
    border-radius: 10px;
    background-color: var(--colour-lightyellow);
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.4em;
    color: var(--colour-darkgreen);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    box-shadow: -9px 16px var(--colour-darkgreen);
}

.subscribe-btn:hover {
    background-color: var(--colour-darkcream);
    color: var(--colour-darkgreen);
}

.mailing-list-agreement {
    display: flex;
    align-items: flex-start;
    margin-left: 138px;
    margin-bottom: 37px;
}

.mailing-list-agreement input[type="checkbox"] {
    display: none;
}

.mailing-list-agreement input[type="checkbox"]+label:before {
    content: "";
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 28px;
    border: 2px solid var(--colour-darkgreen);
    border-radius: 50%;
    background-color: var(--colour-lightyellow);
    cursor: pointer;
}

.mailing-list-agreement label {
    font-family: 'Goudy Bookletter 1911';
    font-size: 23px;
    color: var(--colour-darkgreen);
}

.subscribe-btn:active {
    box-shadow: -9px 10px var(--colour-darkgreen);
    transform: translateY(4px);
}


/* About Us section styling */
.about-us-rectangle {
    width: 100%;
    height: 1101px;
    background-color: var(--colour-lightyellow);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.about-us-rectangle .title-container {
    width: 231px;
    height: 70px;
    text-transform: capitalize;
    line-height: 70px;
}

.about-us-rectangle .shop-now-btn {
    margin-top: 50px;
}

/* Product benefits section styling */
.product-benefits-section {
    background-color: var(--colour-lightyellow);
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.benefits-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin-top: 0;
}

.benefit-item {
    text-align: center;
    flex-basis: 30%;
}

.circle {
    width: 191px;
    height: 191px;
    border-radius: 50%;
    background-color: var(--colour-darkcream);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 29px;
    margin-left: auto;
    margin-right: auto;

}

.benefit-title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 40px;
    color: var(--colour-darkgreen);
    margin-bottom: 0;
}

.benefit-description {
    font-family: 'Goudy Bookletter 1911';
    font-size: 23px;
    color: var(--colour-darkgreen);
    margin-top: 0;
}





/* Adjusting screen to iPhone 12 pro */
@media (max-width: 390px) {

    .background-rectangle {
        flex-direction: column;
        height: 2750px;
    }

    .text-container {
        position: relative;
        width: 95%;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 100px;
        height: 600px;
    }
    
    .background-rectangle .text-container {
        height: 1500px;
    }
    
    .background-rectangle .title-container {
        width: 1050px;
        height: 300px;
        font-size: 100px;
    }
    
    .background-rectangle .description-container {
        width: 1050px;
        height: 600px;
        font-size: 70px;
    }

    .shop-now-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 580px;
        margin-bottom: 200px;
    }
    
    .background-rectangle .shop-now-btn {
        width: 600px;
        height: 150px;
        margin-left: -170px;
        font-size: 45px;
        border: 6px solid var(--colour-darkgreen);
        box-shadow: -20px 30px var(--colour-darkgreen);
        border-radius: 15px;
    }

    .background-rectangle .hero-image-container {
        width: 100%;
        height: 2000px;
        top: 40px;
    }

    .background-rectangle .hero-image-container img {
        border-radius: 30px;
        margin-bottom: 40px;
        margin-top: 40px;
        width: 1050px;
        height: 1300px;
    }

    .hero-image {
        width: 336px;
        height: 100px;
    }

    .best-sellers-rectangle {
        height: 2300px;
    }
    
    .best-sellers-title {
        font-size: 85px;
        margin-bottom: 130px;
    }

    .product-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }

    .product-card {
        width: 100%;
        margin: 0 auto 1rem;
        flex: 1 1 calc(50% - 25px);
    }
    
    
    .product-card {
        margin-bottom: 150px;
    }

    .product-image {
        width: 444px;
        height: 585.6px;
        border-radius: 30px;
        display: block;
        margin: 0 auto;
        object-fit: cover;
    }
    
    .product-name {
        font-size: 50px;
    }
    
    .product-price {
        font-size: 50px;
    }

    .shop-all-btn {
        margin-top: 30px;
        height: 150px;
        width: 600px;
        font-size: 45px;
        border: 6px solid var(--colour-darkgreen);
        box-shadow: -20px 30px var(--colour-darkgreen);
        border-radius: 15px;
    }
    
    
    
    
    
    
    .mailing-list-section {
        height: 1460px;
    }

    .mailing-list-image-container {
        display: none;
    }

    .mailing-list-content {
        margin: auto;
        text-align: center;
    }
    
    .mailing-list-title-rectangle {
        width: 700px;
        height: 200px;
        margin: 150px 0 100px 100px;
    }
    
    .mailing-list-title-container {
        font-size: 85px;
        text-align: center;
    }

    .mailing-list-input {
        width: 1100px;
        height: 200px;
        margin-left: -140px;
        margin-bottom: 70px;
    }
    
    .mailing-list-input input,
    .subscribe-btn {
        width: 90%;
    }
    
    .mailing-list-input input {
        margin-left: 0;
        height: 300px;
        font-size: 50px;
    }

    .mailing-list-input label {
        margin-left: -800px;
        font-size: 60px;
    }
    
    .mailing-list-input label[for="email"] {
        margin-left: -720px;
    }
    
    
    
    
    .mailing-list-agreement {
        width: 1100px;
        margin-left: -140px;
        margin-bottom: 100px;
    }
    
    .mailing-list-agreement input[type="checkbox"]+label:before {
        width: 35px;
        height: 35px;
        margin-right: 28px;
    }
    
    .mailing-list-agreement label {
        font-size: 60px;
    }

    .mailing-list-agreement label br {
        display: none;
    }
    
    .subscribe-btn {
        height: 150px;
        border: 6px solid var(--colour-darkgreen);
        border-radius: 15px;
        font-size: 45px;
        box-shadow: -20px 30px var(--colour-darkgreen);
    }

    
    
    
    
    
    

    .about-us-rectangle {
        height: auto;
    }
    
    .about-us-rectangle .hero-image-container {
        display: none;
    }

    .about-us-rectangle .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1000px;
        width: 100%;
    }

    .about-us-rectangle .title-container {
        margin-top: -200px;
        font-size: 85px;
        width: 600px;
    }
    
    .about-us-rectangle .description-container {
        width: 1100px;
        height: auto;
        font-size: 60px;
    }

    .about-us-rectangle .shop-now-btn {
        margin-left: -130px;
        margin-top: 850px;
        width: 500px;
        height: 150px;
        border: 6px solid var(--colour-darkgreen);
        border-radius: 15px;
        font-size: 45px;
        box-shadow: -20px 30px var(--colour-darkgreen);
    }


    
    
    
    .product-benefits-section {
        height: 3100px;
    }

    .benefits-container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
        height: 2500px;
    }

    .benefit-item {
        width: 90%;
        margin-bottom: 2rem;
        margin-top: 100px;
    }
    
    .circle {
        height: 400px;
        width: 400px;
    }
    
    .circle img {
        height: 250px;
        width: 250px;
    }
    
    .benefit-title {
        font-size: 70px;
    }
    
    .benefit-description {
        font-size: 60px
    }
}






/* Adjusting screen to surface pro 7 */
@media (max-width: 1368px) {
    .menubar {
        width: 1368px;
    }

    .background-rectangle {
        width: 1410px;

    }

    .best-sellers-rectangle {
        width: 1410px;
    }

    .mailing-list-section {
        width: 1410px;
    }

    .about-us-rectangle {
        width: 1410px;
    }

    .product-benefits-section {
        width: 1410px;
    }

    .footer-section {
        width: 1410px;
    }
}