@import url('menu-bar.css');
@import url('footer.css');

:root {
    --colour-darkgreen: #30382D;
    --colour-darkcream: #E8DCC6;
    --colour-lightyellow: #FDFAF0;
}


/* Setting background of the body */
body {
    background-color: var(--colour-lightyellow);
}

/* Cart is empty container styling */
.empty-cart-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 122px);
    text-align: center;
}


/* Order summary styling */
.order-summary-container {
    position: absolute;
    top: 250px;
    width: 800px;
    height: 350px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}


.order-summary-item {
    display: flex;
    align-items: center;
    width: 795px;
    height: 100px;
    margin-top: 70px;
}

.order-summary-item:first-child {
    margin-top: 0;
}

.order-summary-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
}

.order-summary-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 50px;
}

.order-summary-name,
.order-summary-price {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    color: var(--colour-darkgreen);
    white-space: nowrap;
}


.order-summary-item:nth-child(2) {
    margin-top: 40px;
}

/* Horizontal divider styling */
.horizontal-divider {
    margin-top: 350px;
    width: 800px;
    height: 2px;
    background-color: #96998E;
}


/* Total container styling */
.total-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    margin-top: 20px;
    color: var(--colour-darkgreen);
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 25px;
}


/* Checkout button styling */
.checkout-button {
    margin-top: 100px;
    width: 405px;
    height: 72px;
    border: 4px solid var(--colour-darkgreen);
    background-color: var(--colour-lightyellow);
    border-radius: 10px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    color: var(--colour-darkgreen);
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    box-shadow: -9px 16px var(--colour-darkgreen);
}

.checkout-button:hover {
    background-color: var(--colour-darkcream)
}

/* Quantity Box styling */
.quantity-box {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    color: var(--colour-darkgreen);
    width: 80px;
    height: 25px;
    background-color: var(--colour-lightyellow);
    border-radius: 10px;
    border: 1.5px solid var(--colour-darkgreen);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    margin-left: 140px;
    margin-top: -30px;
}

button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.quantity-decrease,
.quantity-increase {
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
}

.quantity-number {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
}

/* Cancel button styling */
.cancel-button {
    font-family: 'Poppins';
    font-size: 15px;
    color: var(--colour-darkgreen);
    text-decoration: underline;
    margin-left: 742px;
    margin-top: -15px;
}

/* Footer styling */
.footer-section {
    margin-top: 100px;
}





/* Adjusting screen to iPhone 12 pro */
@media (max-width: 390px) {
    .empty-cart-container {
        height: 2300px;
    }

    .order-summary-container {
        position: relative;
        top: -300px;
        width: 1100px;
        height: 350px;
    }

    .order-summary-item {
        width: 1090px;
        height: 100px;
        margin-bottom: 400px;
    }

    .order-summary-image {
        width: 300px;
        height: 300px;
        z-index: 1;
    }

    .order-summary-details {
        padding-left: 90px;
    }

    .order-summary-name,
    .order-summary-price {
        font-size: 50px;
    }

    .order-summary-item:nth-child(2) {
        margin-top: 350px;
    }

    .order-summary-item:nth-child(2) .order-summary-price {
        margin-left: 150px;
    }

    .horizontal-divider {
        margin-top: 300px !important;
        width: 1200px;
        height: 5px;
        background-color: #96998E;
    }

    .total-container {
        width: 1100px;
        margin-top: 80px;
        font-size: 55px;
    }

    .checkout-button {
        margin-top: 150px;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 0.3em;
        border: 6px solid var(--colour-darkgreen);
        box-shadow: -20px 30px var(--colour-darkgreen);
        border-radius: 15px;
        width: 650px;
        height: 150px;
    }

    /* Quantity Box styling */
    .quantity-box {
        position: absolute;
        bottom: 140px;
        right: 400px;
        font-size: 50px;
        width: 300px;
        height: 100px;
        border-radius: 15px;
        border: 4px solid var(--colour-darkgreen);
    }
    
    .quantity-decrease,
    .quantity-increase,
    .quantity-number {
    font-size: 55px;
    }    

    /* Cancel button styling */
    .cancel-button {
        position: absolute;
        font-size: 35px;
        bottom: 150px;
        right: 0;
    }
    
    .order-summary-container .quantity-box:nth-of-type(2) {
        bottom: -430px;
        right: 400px;
    }

    .order-summary-container .cancel-button:nth-of-type(2) {
        bottom: -550px;
        right: 45px;
    }
}



/* Adjusting screen to surface pro 7 */
@media (max-width: 1368px) {
    .menubar {
        width: 1368px;
    }

    .empty-cart-container {
        width: 1368px;
    }

    .horizontal-divider {
        margin-top: -150px;
    }

    .footer-section {
        width: 1410px;
    }
}