@import url(/styles/menu-bar.css);
@import url(/styles/footer.css);

:root {
    --colour-darkgreen: #30382D;
    --colour-darkcream: #E8DCC6;
    --colour-lightyellow: #FDFAF0;
}

body {
    background-color: var(--colour-lightyellow);
}

/* Product page styling */
.product-container {
    display: flex;
    margin-top: 115px;
    margin-left: 129px;
}

.product-image {
    width: 720px;
    height: 707px;
    border-radius: 0px 30px 30px 0px;
    margin-right: 116px;
    object-fit: cover;
    margin-left: -129px;
}

.product-details {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

.product-title {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 50px;
    color: var(--colour-darkgreen);
}

.product-description {
    font-family: 'Goudy Bookletter 1911';
    color: var(--colour-darkgreen);
    font-size: 23px;
    margin-top: 32px;
    margin-right: 73px;
}

.product-price {
    font-family: 'Goudy Bookletter 1911';
    color: var(--colour-darkgreen);
    font-size: 40px;
    margin-top: 32px;
}

.product-quantity {
    display: flex;
    align-items: center;
    align-items: center;
    margin-top: 54px;
    gap: 50px;
}

button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.quantity-box {
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 400;
    color: var(--colour-darkgreen);
    width: 153px;
    height: 51px;
    background-color: var(--colour-lightyellow);
    border-radius: 10px;
    border: 2.5px solid #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
}

.quantity-decrease,
.quantity-increase {
    cursor: pointer;
    font-weight: 400;
    font-size: 25px;
}

.quantity-number {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 25px;
}

.add-to-cart-btn {
    width: 321px;
    height: 77px;
    background-color: var(--colour-lightyellow);
    border: 4px solid var(--colour-darkgreen);
    color: var(--colour-darkgreen);
    border-radius: 10px;
    margin-left: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    box-shadow: -9px 16px var(--colour-darkgreen);
}

.add-to-cart-btn:hover {
    background-color: var(--colour-darkcream);
}

.add-to-cart-btn:active {
    box-shadow: -9px 10px var(--colour-darkgreen);
    transform: translateY(4px);
}

.wishlist {
    display: flex;
    align-items: center;
    margin-top: 48px;
}

.wishlist-icon {
    width: 24px;
    height: 24px;
}

.wishlist-text {
    font-family: 'Goudy Bookletter 1911';
    color: var(--colour-darkgreen);
    font-size: 23px;
    margin-left: 13px;
}

.divider {
    border: none;
    border-top: 2px solid #BFC0B5;
    margin: 32px 130px 32px 0;
}

.additional-info {
    margin-top: 21px
}

.info-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-title {
    font-family: 'Goudy Bookletter 1911';
    color: var(--colour-darkgreen);
    font-size: 23px;
}

.info-icon {
    width: 24px;
    height: 24px;
    margin-right: 130px;
}

/* FAQ Section Styling */
.faq-section {
    margin-top: 150px;
    margin-left: 20px;
}

.faq-title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 60px;
    color: var(--colour-darkgreen);
    margin-left: 130px;
}

.faq-divider {
    border: none;
    border-top: 2px solid #BFC0B5;
    margin: 20px 130px 0 130px;
}

.faq-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 130px;
    margin-top: 44px;
    margin-bottom: 44px;
}

.faq-question {
    font-family: 'Goudy Bookletter 1911';
    font-size: 25px;
    color: var(--colour-darkgreen);
}

.faq-icon {
    margin-right: 130px;
    width: 24px;
    height: 24px;
}

/* Recommendation Section Styling */
.recommendation-section {
    margin-top: 150px;
}

.recommendation-title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 50px;
    color: var(--colour-darkgreen);
    margin: 150px 0 40px 130px;
}

.recommendation-section .product-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 130px;
}

.recommendation-section .product-card {
    width: calc((100% - 260px) / 3);
    margin-top: 72px;
    position: relative;
    text-align: center;
}

.recommendation-section .product-card img {
    width: 345px;
    height: 488px;
    border-radius: 30px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.recommendation-section .product-details {
    margin-top: 17px;
    text-align: center;
}

.recommendation-section .product-name,
.recommendation-section .product-description,
.recommendation-section .product-price {
    display: block;
    margin: 10px 0;
}

.recommendation-section .product-name {
    font-family: 'Poppins';
    color: var(--colour-darkgreen);
    font-weight: 600;
    font-size: 30px;
}

.recommendation-section .product-description {
    font-family: 'Goudy Bookletter 1911';
    color: var(--colour-darkgreen);
    font-size: 18px;
}

.recommendation-section .product-price {
    font-family: 'Goudy Bookletter 1911';
    color: var(--colour-darkgreen);
    font-size: 30px;
}

/* Shop All and About Us Section Styling */
.additional-images-section {
    margin-top: 266px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    margin-bottom: 267px;
}

.image-container img {
    width: 890px;
    height: 707px;
    object-fit: cover;
}

.image-container:first-child img {
    border-radius: 30px;
}

.image-container:last-child img {
    border-radius: 30px;
}

.overlay-text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-text {
    font-family: 'Goudy Bookletter 1911';
    font-size: 60px;
    color: var(--colour-lightyellow);
}


/* Adjusting screen to iPhone 12 pro */
@media (max-width: 390px) {
    .product-container {
        flex-direction: column;
        align-items: center;
        margin: 50px 50px;
    }

    .product-image {
        width: 90%;
        height: 1600px;
        margin: 50px;
        border-radius: 80px;
        object-fit: cover;
    }

    .product-details {
        margin: 20px;
        text-align: center;
    }

    .product-title {
        font-size: 80px;
    }

    .product-description {
        font-size: 50px;
        width: 100%;
    }
    
    .product-container .product-details {
        display: flex;
        margin: 20px;
        text-align: center;
        width: 90%;
    }
    
    .product-container .product-description {
        font-size: 60px;
        width: 100%;
    }
    
    .product-container .product-price {
        font-size: 70px;
    }

    .product-price {
        font-size: 100px;
    }

    .product-quantity {
        flex-direction: row;
        gap: 90px;
        justify-content: space-between
    }

    .quantity-box {
        font-size: 33px;
        width: 350px;
        height: 100px;
        margin-left: 0;
        border: 5px solid var(--colour-darkgreen);
        border-radius: 15px;
        flex-shrink: 0;
        flex-grow: 0;
        font-size: 60px;
        padding: 0;
    }
    
    .quantity-decrease,
    .quantity-increase,
    .quantity-number {
    font-size: 55px;
    }
    
    .add-to-cart-btn {
        margin: 30px 0px;
        width: 700px;
        height: 150px;
        margin-left: 80px;
        font-size: 27px;
        letter-spacing: 1rem;
        font-size: 45px;
        border: 6px solid var(--colour-darkgreen);
        box-shadow: -20px 30px var(--colour-darkgreen);
        border-radius: 15px;
    }

    .wishlist {
        justify-content: center;
        margin-top: 120px;
        margin-bottom: 80px;
    }

    .wishlist-icon {
        width: 70px;
        height: 70px;
    }

    .wishlist-text {
        font-size: 50px;
    }

    .additional-info {
        align-items: center;
    }

    .info-title {
        font-size: 45px;
    }

    .info-icon {
        width: 45px;
        height: 45px;
        margin-right: 0;
    }

    .divider {
        width: 100%;
        margin: 40px auto;
    }

    .faq-section {
        width: 100%;
        margin: 20px 0;
    }

    .faq-title {
        font-size: 80px;
        text-align: center;
        margin-left: 0;
        margin-top: 100px;
        margin-bottom: 80px;
    }

    .faq-divider {
        width: 85%;
        margin: 40px auto;
    }

    .faq-question {
        font-size: 50px;
    }

    .faq-icon {
        width: 45px;
        height: 45px;
    }

    .product-cards-container {
        flex-direction: column;
        align-items: center;
    }

    .product-card {
        width: 90%;
        margin: 20px 0;
    }

    .recommendation-title {
        width: 1235px;
        text-align: center;
        font-size: 80px;
    }

    .recommendation-section .product-card img {
        width: 674px;
        height: 977px;
        margin-left: -180px;
    }

    .recommendation-section .product-name {
        font-size: 70px;
        width: 800px;
        margin-left: -270px;
    }

    .recommendation-section .product-description {
        font-size: 50px;
        width: 600px;
        margin-left: -160px;
    }

    .recommendation-section .product-price {
        margin-top: 30px;
        font-size: 70px;
    }

    .additional-images-section {
        align-items: center;
        width: 100%;
    }

    .image-container img {
        width: 1200px;
    }

    .overlay-text {
        font-size: 80px;
    }

}




/* Adjusting screen to surface pro 7 */
@media (max-width: 1368px) {
    .menubar {
        width: 1460px;
    }

    .faq-section {
        width: 1460px;
    }

    .product-container {
        width: 1368px;
    }

    .product-cards-container {
        width: 1230px;
    }

    .additional-images-section {
        width: 1500px;
    }

    .footer-section {
        width: 1500px;
    }
}